apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  labels:
    app: nodejs-app
spec:
  type: NodePort
  selector:
    app: nodejs-app
  ports:
    - protocol: TCP
      port: 80        # Service port
      targetPort: 3000  # Container port
      nodePort: 30080   # External NodePort (30000-32767)
