name: Deploy to Self-Hosted Runner

on:
  push:
    branches:
      - main
      - Lab1

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t node-remote-test . 

      - name: Stop and remove existing container
        run: |
          docker stop node-remote-test || true
          docker rm node-remote-test || true

      - name: Run new container
        run: |
          docker run -d \
            -p 3000:3000 \
            --name node-remote-test \
            node-remote-test
