name: Scan Code with SonarQube and build & push Docker Image

on:
  push:
    branches:
      - main

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/node-remote-test:latest .

      - name: Push Docker Image to Docker Hub Registry
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/node-remote-test:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Pull Docker Image from Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/node-remote-test:latest

      - name: Stop and remove existing container
        run: |
          docker stop node-remote-test || true
          docker rm node-remote-test || true

      - name: Run new container
        run: |
          docker run -d \
            -p 3000:3000 \
            --name node-remote-test \
            ${{ secrets.DOCKERHUB_USERNAME }}/node-remote-test:latest