name: Scan Code with SonarQube and build & push Docker Image

on:
  push:
    branches:
      - Lab2

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Code Scan with SonarQube
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # - name: Build Docker Image
      #   run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/node-remote-test:latest .

      # - name: Push Docker Image to Docker Hub Registry
      #   run: |
      #     echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      #     docker push ${{ secrets.DOCKERHUB_USERNAME }}/node-remote-test:latest
